[hub]
protocol = https

[color]
ui = true
branch = auto
showbranch = auto
diff = auto
status = auto

[user]
	name = Jonathan Creasy
	email = jonathan.creasy@gmail.com

[core]
editor = nano
excludesfile = /opt/boxen/config/git/gitignore
whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[rebase]
autosquash = true

[alias]
master = !git checkout master && git pull origin master
st = status -sb
co = checkout
c = commit
d = diff
dc = dicc --cached
l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
br = branch
ci = commit
unstage = reset

[apply]
whitespace = nowarn

[log]
date = relative

[branch]
	autosetuprebase = always

[format]
pretty = %C(yellow)%h%Creset %C(magenta)%cd%Creset %d %s
[github]
	user = johann8384
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/

[web]
  browser = google-chrome

[credential]
  helper = osxkeychain

[push]
  default = simple

[merge]
  tool = kdiff3

[difftool]
  prompt = false
